<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <brandastic>
            <exercise>
                <coupon_email_identity>general</coupon_email_identity>
                <coupon_email_template>brandastic_exercise_coupon_email_template</coupon_email_template>
            </exercise>
        </brandastic>
    </default>
</config>